<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSS - Página</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="{% static 'inss-logo.png' %}" alt="Logo INSS" class="logo">
        </header>

        <div class="top-btns">
            <a class="as" href="{% url 'home' %}"><button type="button" style="opacity: 70%;" class="button"> Consulta </button></a>
            <a class="as" href="{% url 'selecao' %}"><button type="button" style=" opacity: 90%;" class="button">Cadastro</button></a>
         </div>

        <div class="form-section">
            <form method="POST" action="{% url 'cadpc' %}" class="form-group">
                {% csrf_token %}
                <input type="text" name="id_tombamento" placeholder="Nº de tombamento" class="form-input">
                <input type="text" name="marca" placeholder="Marca" class="form-input">
                <input type="number" name="qnt_ram" placeholder="Quantidade de Memória RAM" class="form-input">
                <input type="number" name="qnt_armaz" placeholder="Quantidade de Armazenamento" class="form-input">
                <input type="text" name="tipo_armaz" placeholder="Tipo de Armazenamento" class="form-input">
                <input type="text" name="funcionando" placeholder="Funcionando?" class="form-input">
                <input type="text" name="locat_do_disp" placeholder="Local atual do Dispositivo" class="form-input">
                <input type="text" name="descricao" placeholder="Descrição" class="form-input desc">
                <input type="date" name="data_de_an" placeholder="Data da análise" class="form-input">
                <button type="submit" class="button">Selecionar</button>
            </form>
        </div>
    </div>
</body>
</html>