<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSS - Página</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <header class="header"> 
            <img src="{% static 'inss-logo.png' %}" alt="Logo INSS" class="logo">
        </header>

        <div class="top-btns">
            <a class="as" href="{% url 'home' %}"><button type="button" style="opacity: 90%;" class="button"> Consulta </button></a>
            <a class="as" href="{% url 'selecao' query='default' %}"><button type="button" style=" opacity: 70%;" class="button">Cadastro</button></a>
        </div>

        <div class="search-bar">
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <input type="text" name="search_query" placeholder="Pesquisar" class="search-input" id="search-bar">
                <button type="submit" class="filter-button" id="search-btn">⌨️</button>
            </form>
        </div>
        
        <div class="info-box" id="info-box">
            <div type="button" class="btn-info-box" id="btn-info-box">
                <p><strong>Tipo de dispositivo:</strong></p>   
                <p><strong>Nº de tombamento:</strong></p>
            </div>
            <div class="caract" id="caract">
                <p>Marca:</p>
                <p>Quantidade de Memória RAM:</p>
                <p>Quantidade de Armazenamento:</p>
                <p>Tipo de Armazenamento:</p>
                <p>Funcionando:</p>
                <p>Local Atual do Dispositivo:</p>
                <p>Descrição:</p>
                <p>Data da Análise:</p>
                <div class="card-btns" name="card-btns">
                    <button class="btn-b">Editar</button>
                    <button class="btn-c">Excluir</button>
                    <button class="btn-b">Exibir Histórico</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'inss.js' %}"></script>
</html>