<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSS - Página</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="{% static 'inss-logo.png' %}" alt="Logo INSS" class="logo">
        </header>

        <div class="top-btns">
            <a class="as" href="{% url 'home' %}"><button type="button" style="opacity: 70%;" class="button"> Consulta </button></a>
            <a class="as" href="{% url 'selecao' %}"><button type="button" style=" opacity: 90%;" class="button">Cadastro</button></a>
         </div>

        <div class="form-section">
            {% if dispositivo %}
                <p><strong>Tipo de dispositivo:</strong> {{ dispositivo.tipo_de_disp }}</p>
                <p><strong>Nº de tombamento:</strong> {{ dispositivo.id_tombamento }}</p>
                <p><strong>Marca:</strong> {{ dispositivo.marca }}</p>
                <p><strong>Quantidade de Armazenamento:</strong> {{ dispositivo.qnt_armaz }}</p>
                <p><strong>Tipo de Armazenamento:</strong> {{ dispositivo.tipo_armaz }}</p>
                <p><strong>Funcionando:</strong> {{ dispositivo.funcionando }}</p>
                <p><strong>Local Atual do Dispositivo:</strong> {{ dispositivo.locat_do_disp }}</p>
                <p><strong>Descrição:</strong> {{ dispositivo.descricao }}</p>
                <p><strong>Data da Análise:</strong> {{ dispositivo.data_de_an }}</p>
            {% else %}
                <p>Item não encontrado.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>